{% load static %}
<section class="feature_part pt-4">
    <div class="container-fluid p-lg-0 overflow-hidden">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="{% static 'img/feature_1.png' %}" alt="#">
                    <div class="hover_text">
                        <a href="single-product.html" class="btn_2">shop for male</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="{% static 'img/feature_2.png' %}" alt="#">
                    <div class="hover_text">
                        <a href="single-product.html" class="btn_2">shop for male</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="{% static 'img/feature_3.png' %}" alt="#">
                    <div class="hover_text">
                        <a href="single-product.html" class="btn_2">shop for male</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>